<section id="education" class="scrollto clearfix wow fadeInUp" data-wow-delay="0.1s">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h2 class="section-title">Education</h2>
            </div>

        </div>

        <div class="col-2-3">
            {{#educations}}
            <div class="col-9-10 wow fadeInUp" data-wow-delay="0.3s">
                <div class="research-overlay">
                 <h4 class="link-title">{{program}} &#8212 {{school}}</h4>
                 <p class="link-content">{{duration}}</p></br>
                 {{#description}}
                        <p>{{.}}</p></br>
                    {{/description}}
                </div>
                </div>
            {{/educations}}
        </div>
    </div>
</section>
