
<section id="experience" class="scrollto clearfix wow fadeInUp" data-wow-delay="0.1s">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h2 class="section-title">Experience</h2>
            </div>

        </div>

        <div class="col-2-3">
            <div class="col-9-10  wow fadeInUp" data-wow-delay="0.3s">
            {{#tutor}}
            <div>
            <h5><strong>{{title}} ({{company}})</strong></h5>
                <p><strong>Subjects:</strong></p>
                <div class="link-content">
                {{#subjects}}
                    <span>{{title}}:{{term}}</span><br>
                {{/subjects}}
                </br>
                </div>
            </div>
            {{/tutor}}
            </div>

         <div class="col-9-10  wow fadeInUp" data-wow-delay="0.3s">
            {{#work}}
            <div>
            <h5><strong>{{title}} ({{company}})</strong> &emsp; {{starttime}} - {{endtime}}</h5>
                <div class="link-content">
                {{#description}}
                    <span>{{.}}</span><br>
                {{/description}}
                </br>
                </div>
            </div>
            {{/work}}
            </div>

            <div class="col-9-10  wow fadeInUp" data-wow-delay="0.3s">
            {{#guest}}
            <div>
            <h5><strong>{{title}} ({{company}})</strong></h5>
                <p><strong>Subjects:</strong></p>
                <div class="link-content">
                {{#subjects}}
                    <span>{{title}}</span><br>
                {{/subjects}}
                </br>
                </div>
            </div>
            {{/guest}}
            </div>
        </div>
    </div>


</section>

<section id="experience" class="scrollto clearfix wow fadeInUp" data-wow-delay="0.1s">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h2 class="section-title">Other Experience</h2>
            </div>

        </div>

        <div class="col-2-3">
        {{#others}}
            <div class="col-9-10 wow fadeInUp" data-wow-delay="0.3s">
            <h4 class="link-title"> {{year}} </h4>
            {{#other}}
                <p><a class="experience_link" href={{link}}><strong>{{title}}</strong></a>
                    {{description}}
                </p>
            {{/other}}
            </div>
        {{/others}}
    </div>
    </section>
